:root {
  --keys-color: gray;
}

html {
  scroll-behavior: smooth;
  font-family: monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}

.textarea {
  width: 1024px;
  height: 300px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  resize: vertical;
}

.keyboard {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 185, 185);
  border-radius: 5px;
  border: 2px solid var(--keys-color);
  width: 1100px;
  height: 364px;
  padding: 10px;
  gap: 10px;
}

.kb-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.kb-key {
  background-color: gray;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 2px 3px 5px rgb(44, 44, 44);
  user-select: none;
}

.kb-key:hover {
  background-color: rgb(255, 254, 166);
  color: black;
  transition: background-color 0.2s;
}

.kb-key:active {
  transform: translate(1px,3px);
  background-color: rgb(103, 153, 168);
  transition: background-color 0.1s;
  box-shadow: 1px 2px 5px rgb(44, 44, 44);
}



.fn {
  background-color: rgb(20, 20, 20);
  font-weight: 700;
}

/* .fn.pressed {
  background-color: rgb(103, 168, 138);
} */

.backspace {
  width: 170px;
}

.capsLock {
  width: 120px;
}

.tab {
  width: 100px;
}

.del {
  width: 60px;
}

.shiftL {
  width: 150px;
}

.shiftR {
  width: 150px;
}

.ctrlL {
  width: 90px;
}

.ctrlR {
  width: 80px;
}

.space {
  width: 470px;
}

.enter {
  width: 180px;
}

.arrowUp, .arrowDown, .arrowLeft, .arrowRight {
  font-family: sans-serif;
}

.description {
  margin-top: 10px;
  font-size: 20px;
}